<div class="about_general">
  <div class="about_header">
    <h1> {{site.about_title}} </h1>
    <p> {{site.about_description}} </p>
    <p> {{site.about_cv_text}} <a class="link" href="{{"{{site.about_cv_button.link}}"}}" download>{{site.about_cv_button.text}}</a> </p>
  </div>
  <div class="about_containers">
    {% for value in site.about_values %}
    <div class="about_value">
      <h2> {{ value.title }} </h2>
      {% for i in value.icons %}
      <img src="{{ "{{i.icon}}" }}" width="75" height="75" />
      {% endfor %}
      <p> {{ value.text }} </p>
    </div>
    {% endfor %}
  </div>
</div>