 <div class="user-details">
  <h1> {{site.about_title}} </h1>
  <p> {{site.about_description}} </p>
</div>
<div class="user">
    <div class="tech">
      <h2> {{site.about_engines_title}} </h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unrealengine/unrealengine-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/opengl/opengl-plain.svg" width="75" height="75"/>
      <p> {{site.about_engines_content_text}} </p>
    </div>
    <div style="min-width: 30%;" class="tech" >
      <h2> {{site.about_code_title}} </h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg" width="75" height="75"/>
      <p> {{site.about_code_content_text}} </p>
    </div>
    <div class="tech">
      <h2> {{site.about_version_control_title}} </h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original-wordmark.svg" width="75" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" width="75" height="75"/>
      <p> {{site.about_version_control_content_text}} </p>
    </div>
</div>
<div class="user">
  <div class="tech">
    <h2> {{site.about_backend_title}} </h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azure/azure-original-wordmark.svg" width="75" height="75"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" width="75" height="75"/>
    <img src="{{ "/assets/img/gameanalytics_logo.png" | prepend: site.baseurl }}" width="75" height="75"/>
    <p> {{site.about_backend_content_text}} </p>
  </div>
  <div class="tech">
    <h2> {{site.about_organization_tools_title}} </h2>
    <img src="{{ "/assets/img/clickup_logo.svg" | prepend: site.baseurl }}" width="75" height="75"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original-wordmark.svg" width="75" height="75"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/trello/trello-original-wordmark.svg" width="75" height="75"/>
    <p> {{site.about_organization_tools_content_text}} </p>
  </div>
</div>