<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        {% for headerIcon in site.header.icons %}
          <a aria-label="{{"{{headerIcon.text}}"}}" href="{{"{{headerIcon.link}}"}}" target=”_blank” ><i class="{{"{{headerIcon.icon}}"}}" aria-hidden="true"></i></a>
        {% endfor %}
      </div>
      <div class="header-links">
        {% for headerLink in site.header.links %}
        <a class="link" href="{{"{{headerLink.link}}"}}" data-scroll>{{headerLink.text}}</a>
        {% endfor %}
      </div>
  </div>
  <a class="down" href="#about_me" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
