<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Email" href="mailto:Owinmowe@gmail.com" target=”_blank” ><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" href="https://github.com/Owinmowe" target=”_blank” ><i class="icon fa-brands fa-github-square" aria-hidden="true"></i></a>
        <a aria-label="My Itchio" href="https://owinmowe.itch.io" target=”_blank” ><i class="icon fa-brands fa-itch-io" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" href="https://www.linkedin.com/in/adrian-sgro/" target=”_blank” ><i class="icon fa-brands fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Experience</a>
        <a class="link" href="#skills" data-scroll>Skills</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
