<div class="projects_title">
  <h1> {{site.projects_title}} </h1>
</div>

<div class="projects_container_general">
  <div class="projects_container_left">
    <h3> {{site.projects_content_title_1}} </h3>
    <ul>
      <li> {{site.projects_content_subtitle_1}} </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/1tAT7NLb1OxnyhAjdXPeCxldXrtZJvbVc/view?usp=drive_link">Video Cow Stacking Ufo</a>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/1ruwRojzL6YXY5c_ITS21lifdcz5Z3qYw/view?usp=drive_link">Video Exit Infinity</a>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/10VIMc24vZ8hShZQ9SaP1wMFPFRjPWskh/view?usp=drive_link">Video Xtreme Sports Switcher</a>
  </div>
  <div class="projects_container_right">
    <img width="400" height="125" src="{{ "/assets/img/hypercasual_games.png" | prepend: site.baseurl }}" />
  </div>
</div>
<div class="projects_container_general">
  <div class="projects_container_left">
    <img width="400" height="150" src="{{ "/assets/img/agite_image.jpg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="projects_container_right">
    <h3> {{site.projects_content_title_2}} </h3>
    <ul>
      <li> {{site.projects_content_subtitle_2}} </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/1KbXImgTjO9l5wMUU7xNkz4Ic7wybyEAz/view?usp=drive_link">Showcase Video</a>
  </div>
</div>
<div class="projects_container_general">
  <div class="projects_container_left">
    <h3> {{site.projects_content_title_3}} </h3>
    <ul>
      <li> {{site.projects_content_subtitle_3}} </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/1LwP4T2QZ1IoqzyTAwAGbFHNgyjFj-IY1/view?usp=drive_link">Showcase Video</a>
  </div>
  <div class="projects_container_right">
    <img width="400" height="150" src="{{ "/assets/img/blasted_gnomes_image.png" | prepend: site.baseurl }}" />
  </div>
</div>
<div class="projects_container_general">
  <div class="projects_container_left">
    <img width="400" height="250" src="{{ "/assets/img/liberators_chronicles_image.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="projects_container_right">
    <h3> {{site.projects_content_title_4}} </h3>
    <ul>
      <li> {{site.projects_content_subtitle_4}} </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/1YKm1Wt-KftaexDdkEpceNHFJI_BFW8s-/view?usp=drive_link">Trailer Video</a>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/1YKm1Wt-KftaexDdkEpceNHFJI_BFW8s-/view?usp=drive_link">Discord Link</a>
    <a class="project-link" target=”_blank” href="https://drive.google.com/file/d/1YKm1Wt-KftaexDdkEpceNHFJI_BFW8s-/view?usp=drive_link">Steam Video</a>
  </div>
</div>
<div class="projects_container_general">
  <div class="projects_container_left">
    <h3> {{site.projects_content_title_5}} </h3>
    <ul>
      <li> {{site.projects_content_subtitle_5}} </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target=”_blank” href="https://www.3dar.com">Game Site</a>
  </div>
  <div class="projects_container_right">
    <img width="300" height="350" src="{{ "/assets/img/eggscape_image.png" | prepend: site.baseurl }}" />
  </div>
</div>