<div class="skills_general"> 
  <div class="skills_title">
    <h1> {{ site.skills_title }} </h1>
  </div>
  <div class="skills_subtitle">
    <p> {{ site.skills_description }} </p>
  </div>
  
  <div class="skills_container">
    {% for skill in site.skills %}
    <div class="skill_container">
      <h2> {{ skill.title }} </h2>
      <ul style="display: table;">
        {% for cont in skill.contents %}
        <li> {{ cont.content }} </li> 
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>