<div class="user-skill">
  <div class="skills_title">
    <h1> {{site.skills_title}} </h1>
  </div>
  <div class="skills_subtitle">
    <h3> {{site.skills_description}} </h3>
  </div>
  <div class="skills_container_row">
    <div class="skill_container">
      <h2 style="text-align: center; padding-top: 0%;"> {{site.skills_programming_title}} </h2>
      <ul style="display: table;">
        <li> {{site.skills_programming_content_1}} </li> 
        <li> {{site.skills_programming_content_2}} </li> 
        <li> {{site.skills_programming_content_3}} </li> 
        <li> {{site.skills_programming_content_4}} </li> 
        <li> {{site.skills_programming_content_5}} </li> 
        <li> {{site.skills_programming_content_6}} </li> 
        <li> {{site.skills_programming_content_7}} </li> 
        <li> {{site.skills_programming_content_8}} </li> 
        <li> {{site.skills_programming_content_9}} </li> 
      </ul>
    </div>

    <div class="skill_container">
      <h2 style="text-align: center; padding-top: 0%;"> {{site.skills_csharp_title}} </h2>
      <ul>
        <li> {{site.skills_csharp_content_1}} </li> 
        <li> {{site.skills_csharp_content_2}} </li> 
        <li> {{site.skills_csharp_content_3}} </li> 
        <li> {{site.skills_csharp_content_4}} </li> 
        <li> {{site.skills_csharp_content_5}} </li> 
      </ul>
    </div>

    <div class="skill_container">
      <h2 style="text-align: center; padding-top: 0%;"> {{site.skills_unity_title}} </h2>
      <ul>
        <li> {{site.skills_unity_content_1}} </li> 
        <li> {{site.skills_unity_content_2}} </li> 
        <li> {{site.skills_unity_content_3}} </li> 
        <li> {{site.skills_unity_content_4}} </li> 
        <li> {{site.skills_unity_content_5}} </li> 
        <li> {{site.skills_unity_content_6}} </li> 
        <li> {{site.skills_unity_content_7}} </li> 
        <li> {{site.skills_unity_content_8}} </li> 
        <li> {{site.skills_unity_content_9}} </li> 
        <li> {{site.skills_unity_content_10}} </li> 
      </ul>
    </div>
  </div>

  <div class="skills_container_row">
    <div class="skill_container">
      <h2 style="text-align: center; padding-top: 0%;"> {{site.skills_cplusplus_title}} </h2>
      <ul>
        <li> {{site.skills_cplusplus_content_1}} </li> 
        <li> {{site.skills_cplusplus_content_2}} </li> 
        <li> {{site.skills_cplusplus_content_3}} </li>
      </ul>
    </div>

    <div class="skill_container">
      <h2 style="text-align: center; padding-top: 0%;"> {{site.skills_unreal_title}} </h2>
      <ul>
        <li> {{site.skills_unreal_content_1}} </li> 
        <li> {{site.skills_unreal_content_2}} </li>
      </ul>
    </div>

    <div class="skill_container">
      <h2 style="text-align: center; padding-top: 0%;"> {{site.skills_methodology_title}} </h2>
      <ul>
        <li> {{site.skills_methodology_content_1}} </li> 
        <li> {{site.skills_methodology_content_2}} </li>
        <li> {{site.skills_methodology_content_3}} </li> 
        <li> {{site.skills_methodology_content_4}} </li>
      </ul>
    </div>
  </div>
</div>
