.about_header
{
    display: grid;
    text-align: center;
}
.about_containers
{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    padding-left: 20%;
}
.about_value
{
    text-align: center;
    padding-right: 2%;
}

@media only screen and (max-width: 1700px) 
{
    .about_containers
    {
        display: grid;
        grid-template-columns: auto auto;
        width: 60%;
        padding-left: 20%;
    } 
}

@media only screen and (max-width: 1400px) 
{   
    .about_containers
    {
        display: grid;
        grid-template-columns: auto;
        width: 60%;
        padding-left: 20%;
    }   
}