.projects_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projects_container_general
{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
}
.projects_container_left
{
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.projects_container_right
{
    justify-content: right;
    align-items: center;
    padding: 10px;
}

@media only screen and (max-width: 600px) 
{
    .projects_title
    {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .projects_container_general 
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        flex-direction: column;
    }
    .projects_container_left
    {
        padding: 10px;
    }
    .projects_container_right
    {
        padding: 10px;
    }
}