.projects_container_general
{
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}
.projects_title
{
    justify-content: center;
    text-align: center;
}
.projects_container
{
    width: 90%;
    justify-content: center;
    text-align: center;
    padding: 2%;
    margin: auto;
    margin-bottom: 5%;
}
.projects_container ul
{
    font-style: italic;
    font-size: small;
}
.projects_container img
{
    height: 45%;
    width: 45%;
    object-fit: contain;
}
.projects_buttons_container
{
    justify-content: center;
    font-size: xx-large;
}