.skills_title
{
    display: flex;
    justify-content: center;
}
.skills_subtitle 
{
    display: flex;
    justify-content: center;
    text-align: center;
}
.skills_general_container 
{
    margin: 0 auto;
    font-size: small;
}
.skills_container_row
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    align-content: flex-start;
    flex-direction: row;
}
.skill_container 
{
    width: 30%;
    text-align: left;
    font-size: small;
    list-style-position: inside;
}

@media only screen and (max-width: 600px) 
{
    .skill_container 
    {
        width: 100%;
        text-align: left;
        font-size: small;
        list-style-position: inside;
    }
    .skills_container_row 
    {    
        display: flex;
        justify-content: space-around;
        font-size: small;
        align-content: flex-start;
        flex-direction: column;
    }
}