.skills_general
{
    background-color: white;
    width: clamp(60%, 900px, 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    box-shadow: 0 0 5px 10px white;
    padding-bottom: 1em;
}
.skills_general h1
{
    margin-top: 0px;
    padding-top: .5em;
}
.skills_general h2
{
    margin-top: 0px;
    padding-top: .25em;
}
.skills_general > div {
    margin: 0px 10px;
}
.skills_title
{
    display: flex;
    justify-content: center;
}
.skills_subtitle 
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
}
.skills_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.skills_container > * 
{
    flex: 0 0 calc(33.333% - 14px);
}
.skill_container
{
    box-shadow: 0 0 3px 1px #1A222C;
    padding: 0px 2px;
}
.skill_container ul 
{
    text-align: left;
    margin: 10px 0px;
    padding-right: 10px;
    padding-inline-start: 30px;
}

@media only screen and (max-width: 1700px) 
{
    .skills_container > * 
    {
        flex: 0 0 calc(50% - 14px);
    }
}

@media only screen and (max-width: 800px) 
{   
    .skills_container > * 
    {
        flex: 0 0 calc(100% - 14px);
    }
}